{{ render(controller('ADPerfilBundle:Navegacion:breadcrumbs')) }}
{{ render(controller('ADPerfilBundle:Navegacion:menu')) }}
{{ render(controller('ADPerfilBundle:Navegacion:pageTitle')) }}
{% set fecha= '?v=' ~ ("now" | date('YmdHis')) %}
{% for seccion, categorias in data.reportes %}
    <div class="panel panel-{{ categorias.style }}">
        <div class="panel-heading"><h4>{{ seccion | title }}</h4></div>
        <div class="panel-body">
        {% for categoria, reportes in categorias.categorias %}
            <fieldset>
                <legend>{% if not reportes.icono is null %}<i class="{{ reportes.icono }}"></i> {% endif %}{{ categoria | title }}</legend>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-1">N°</th>
                        <th class="col-md-2">Código</th>
                        <th class="col-md-3">Nombre</th>
                        <th class="col-md-5">Descripción</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rp in reportes.reportes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ rp.codigo }}</td>
                        <td>{{ rp.nombre }}</td>
                        <td>{{ rp.descripcion }}</td>
                        <td>
                            {% if rp.externalUrl %}
                                <a href="{{ rp.route }}" title="Descargar" target="_blank"><i class="fa fa-fw fa-cloud-download"></i></a>
                            {% else %}
                                {% set route= rp.route is not null ? rp.route : 'ad_perfil_reporte' %}
                                <a href="{{ rp.hasCriterio ? '#modal' ~ rp.reporteCriterio | capitalize : path(route, {'reporte_id' : rp.codigo, 'show_nombre' : 0}) ~ fecha }}" {% if rp.hasCriterio %}data-url="{{ path(route, {'reporte_id' : rp.codigo, 'show_nombre' : 0}) }}" data-toggle="modal" data-reporte="{{ rp.nombre }}"{% endif %} title="Descargar"><i class="fa fa-fw fa-cloud-download"></i></a>
                            {% endif %}
                            {% if downloadNombre %}
                            <a href="{{ rp.hasCriterio ? '#modal' ~ rp.reporteCriterio | capitalize : path(route, {'reporte_id' : rp.codigo, 'show_nombre' : 1}) ~ fecha }}" {% if rp.hasCriterio %}data-url="{{ path(route, {'reporte_id' : rp.codigo, 'show_nombre' : 1}) }}" data-toggle="modal" data-reporte="{{ rp.nombre }}"{% endif %} title="Descargar con Nombre"><i class="fa fa-fw fa-info-circle"></i></a>
                            {% endif %}
                            {% if canEdit %}
                                &nbsp;<a href="{{ path('ad_perfil_reporte_edit', { 'codigo' : rp.codigo }) }}" title="Editar Reporte"><i class="fa fa-fw fa-pencil-square-o"></i></a>
                            {% endif %}
                            {% if canLoad %}
                                &nbsp;<a href="{{ path('ad_perfil_reporte_load_estatico', { 'codigo' : rp.codigo }) }}" title="Cargar Estático"><i class="fa fa-fw fa-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        {% endfor %}
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">No tienes reportes disponibles</div>
{% endfor %}

{% for nombre,criterio in data.criterios %}
<div class="modal fade" id="modal{{ nombre | capitalize }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ nombre | capitalize }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel{{ nombre | capitalize }}">Seleccione {{ criterio.titulo }} para "<span id="modal{{ nombre | capitalize }}_rep_nombre"></span>"</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for i in criterio.data %}
                        <li class="list-group-item"><a class="modal-link" data-valor="{{ i.id }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
