{{ render(controller('AscensoDigital\\PerfilBundle\\Controller\\NavegacionController::breadcrumbsAction')) }}
{{ render(controller('AscensoDigital\\PerfilBundle\\Controller\\NavegacionController::menuAction')) }}
{{ render(controller('AscensoDigital\\PerfilBundle\\Controller\\NavegacionController::pageTitleAction')) }}

{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-primary" type="submit">Crear</button>&nbsp;
        <a class="btn btn-danger" href="{{ path('ad_perfil_menu', {'menu_slug' : 'reportes'}) }}">Cancelar</a>
    </div>
</div>
{{ form_end(form) }}
