{% if menu is null %}
    <li class="breadcrumb-item"><a href="{{ path(homepage_route) }}">{{ homepage_name }}</a></li>
{% else %}
    {{ include('@ADPerfil/Navegacion/breadcrumb-item.html.twig',{ 'menu' :  menu.menuSuperior }) }}
    <li class="breadcrumb-item"><a href="{{ menu.route!='' ? path(menu.route) : path('ad_perfil_menu', {'menu_slug' : menu.slug}) }}">{{ menu.nombre | title }}</a></li>
{% endif %}
