{{ render(controller('AscensoDigital\\PerfilBundle\\Controller\\NavegacionController::breadcrumbsAction')) }}

{{ render(controller('AscensoDigital\\PerfilBundle\\Controller\\NavegacionController::pageTitleAction')) }}

{% for menu in menus %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail text-center">
            <a href="{% if menu.route != '' %}{{ path(menu.route) }}{% else %}{{ path('ad_perfil_menu', {'menu_slug' : menu.slug}) }}{% endif %}">
                <span class="icono {{ menu.icono!='' ? menu.icono : 'fa fa-square' }} icono-{{ menu.color!='' ? menu.color | lower : 'blanco' }}" title="{{ menu.nombre }}"></span>
            </a>
            <div class="caption text-left">
                <a href="{% if menu.route != '' %}{{ path(menu.route) }}{% else %}{{ path('ad_perfil_menu', {'menu_slug' : menu.slug}) }}{% endif %}"><h3>{{ menu.nombre | title }}</h3></a>
                <p>{{ menu.descripcion | raw }}</p>
            </div>
            {% if canEdit %}
            <div class="text-right editar-menu">
                <a class="btn btn-info" href="{{ path('ad_perfil_menu_edit', {'menu_slug': menu.slug}) }}" title="Editar Menu">
                    <i class="fa fa-edit fa-fw"></i> <span class="badge">{{ menu.orden }}</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% else%}
    <div class="alert alert-warning">No hay menús disponibles en la sección {{ menuActual }}</div>
{% endfor %}
{%  if canCreate %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail text-center">
            <a href="{{ path('ad_perfil_menu_new', {'menu_slug': (menuActual is null ? null : menuActual.slug)}) }}">
                <i class="icono fa fa-plus icono-new" title="Nuevo Menu"></i>
            </a>
            <div class="caption text-left">
                <a href="{{ path('ad_perfil_menu_new', {'menu_slug': (menuActual is null ? null : menuActual.slug)}) }}"><h3>Nuevo Menú</h3></a>
                <p>Agregar un nuevo menu a la sección</p>
            </div>
        </div>
    </div>
{% endif %}
