<ul class="menu-lateral list-group hidden-xs"> {# se oculta en móviles #}
    <div class="menu-lateral-header text-center">
        <button class="btn btn-default toggle-menu" onclick="toggleMenuLateral()">
            <span class="menu-icon-bars">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
            <i class="glyphicon glyphicon-chevron-left"></i>
            <i class="glyphicon glyphicon-chevron-right" style="display:none;"></i>
        </button>
    </div>

    {% for menu in menus %}
        <li class="list-group-item {% if menu.isActual(menuActual) %}activo{% endif %}">
            <a href="{{ menu.route ? path(menu.route) : path('ad_perfil_menu', { 'menu_slug': menu.slug }) }}"
               title="{{ menu.nombre }}">
            <span class="icono icono-{{ menu.color|default('gris') | lower }}">
                <i class="{{ menu.icono|default('fa fa-square') }}"></i>
            </span>
                <span class="texto-menu">{{ menu.nombre }}</span>
            </a>
        </li>

        {% if menu.menuHijos|length > 0 %}
            <ul class="submenu">
                {% for submenu in menu.menuHijos %}
                    <li class="submenu-item {% if submenu.isActual(menuActual) %}activo{% endif %}">
                        <a href="{{ submenu.route ? path(submenu.route) : path('ad_perfil_menu', { 'menu_slug': submenu.slug }) }}"
                           title="{{ submenu.nombre }}">
                        <span class="icono icono-{{ submenu.color|default('gris') | lower }}">
                            <i class="{{ submenu.icono|default('fa fa-angle-right') }}"></i>
                        </span>
                            <span class="texto-menu">{{ submenu.nombre }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

</ul>

<script>
    function toggleMenuLateral() {
        var aside = document.querySelector('.menu-lateral');
        aside.classList.toggle('colapsado');

        var left = aside.querySelector('.glyphicon-chevron-left');
        var right = aside.querySelector('.glyphicon-chevron-right');
        if (aside.classList.contains('colapsado')) {
            left.style.display = 'none';
            right.style.display = 'inline-block';
        } else {
            left.style.display = 'inline-block';
            right.style.display = 'none';
        }
    }
</script>
